<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
</head>
<body>
    <h1>Lista de Productos Registrados</h1>
    <ul>
        {% for producto in productos %}
            <li>
                Código: {{ producto.codigo }} - Nombre: {{ producto.nombre }} - Marca: {{ producto.marca }} - Fecha de Vencimiento: {{ producto.fecha_vencimiento }}
            </li>
        {% empty %}
            <p>No hay productos registrados.</p>
        {% endfor %}
    </ul>
</body>
</html>
