<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                Código: {{ producto.codigo }} - Nombre: {{ producto.nombre }} - Marca: {{ producto.marca.nombre }} - Precio: {{ producto.precio }}
            </li>
        {% empty %}
            <p>No hay productos registrados.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'register_product' %}">Registrar un nuevo producto</a>
</body>
</html>
