<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
</head>
<body>
    <h1>Lista de Productos Registrados</h1>

    <!-- Enlace para ir a la página de registrar productos -->
    <nav>
        <ul>
            <li><a href="{% url 'register_product' %}">Registrar Producto</a></li>
        </ul>
    </nav>

    <!-- Formulario para aplicar el filtro por nombre -->
    <form method="GET" action="{% url 'index' %}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
        <button type="submit">Buscar</button>
        <a href="{% url 'index' %}">Limpiar Filtro</a> <!-- Enlace para limpiar el filtro -->
    </form>

    <ul>
        {% for producto in productos %}
            <li>
                <strong>Código:</strong> {{ producto.codigo }} - <strong>Nombre:</strong> {{ producto.nombre }} - <strong>Marca:</strong> {{ producto.marca }} - <strong>Categoría:</strong> {{ producto.categoria.nombre }}
            </li>
        {% empty %}
            <p>No hay productos que coincidan con el nombre ingresado.</p>
        {% endfor %}
    </ul>
</body>
</html>
