<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
</head>
<body>
    <h1>Registrar un Nuevo Producto</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}  
        </div>
        <button type="submit">Registrar Producto</button>
    </form>
    <a href="{% url 'index' %}">Volver a la lista de productos</a>  
</html>
