<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
</head>
<body>
    <div class="resultado">
        <h1>Producto registrado con éxito</h1>
        <p><strong>Código:</strong> {{ producto.codigo }}</p>
        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
        <p><strong>Marca:</strong> {{ producto.marca }}</p>
        <p><strong>Fecha de Vencimiento:</strong> {{ producto.fecha_vencimiento }}</p>
    </div>
</body>
</html>
